.env
.env.production
nonna.design.crt
nonna.design.key
prod-config/certbot/state/
prod-config/certbot/webroot/
prod-config/secrets/
prod-config/mtls/generated/
.DS_Store
/.idea/
/.strapi/
/build
/public
.strapi-updater.json
